{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="body-wrapper-inner">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4>Add Admit Cards</h4>
        <a href="{% url 'superadmin:manage_admit_cards' %}" class="btn btn-primary"><i class="fa-solid fa-arrow-left me-2"></i>Back</a>
      </div>
      <div class="mt-5">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="category" value="admit_cards" />
          <div class="row">
            <h5 class="text-decoration-underline">Post Details</h5>
            {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="col-12 col-lg-6 mb-3">
              <label for="slug" class="form-label">Slug</label>
              <input type="text" name="slug" id="slug" class="form-control" value="{{ form.slug.value|default_if_none:'' }}" readonly />
              {% for error in form.slug.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="title" class="form-control" value="{{ form.title.value|default_if_none:'' }}" />
              {% for error in form.title.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <label for="short_info" class="form-label">Short Info</label>
              <textarea type="text" name="short_info" id="short_info" class="form-control">{{ form.short_info.value|default_if_none:'' }}</textarea>
              {% for error in form.short_info.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea type="text" name="content" id="content" class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>
              {% for error in form.content.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-12 col-lg-1">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
