{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="body-wrapper-inner">
    <div class="container-fluid">
      <h4>Edit TopBar</h4>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-12 col-lg-6 mb-3">
            <label for="title" class="form-input">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ form.title.value|default_if_none:'' }}" />
          </div>
          <div class="col-12 col-lg-6 mb-3">
            <label for="link" class="form-input">Link</label>
            <input type="url" name="link" id="link" class="form-control" value="{{ form.link.value|default_if_none:'' }}" />
          </div>
          <div class="col-6 offset-6">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
