{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="body-wrapper-inner">
    <div class="container-fluid">
      <h4>Manage TopBar</h4>
      <a href="{% url 'superadmin:edit_topbar' %}">Edit</a>
      <div class="top-bar-wrapper mt-5">
        <div class="child">{{ page_obj.title_1 }}</div>
        <div class="child">{{ page_obj.title_2 }}</div>
        <div class="child">{{ page_obj.title_3 }}</div>
        <div class="child">{{ page_obj.title_4 }}</div>
        <div class="child">{{ page_obj.title_5 }}</div>
        <div class="child">{{ page_obj.title_6 }}</div>
        <div class="child">{{ page_obj.title_7 }}</div>
        <div class="child">{{ page_obj.title_8 }}</div>
      </div>
    </div>
  </div>
{% endblock %}
